* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.HomeContainer {
  width: 100vw;
  height: 1520px;
  background-color: #333;
}
nav {
  width: 100vw;
  height: 100px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}
.navLeft {
  padding: 2rem;
}
.navRight {
  padding: 2.2rem;
}
.HeaderBackground {
  height: 700px;
  background-image: url(../../asset/GTRHome.jpg);
  background-size: cover;
  border-bottom: 8px solid #222;
}
.HeaderContentText {
  text-align: center;
  padding-top: 16rem;
}
.HeaderContentText h3 {
  color: #fff;
  font-size: 2rem;
}
.HeaderContentText p {
  font-size: 1rem;
  color: #fff;
  padding-top: 1rem;
}
.HeaderContentInput {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.HeaderContentInput input {
  padding: 1rem 5rem;
  margin-right: 1rem;
  background-color: rgb(97, 97, 97);
  color: #fff;
  border: none;
}
::placeholder {
  color: #fff;
}
.HeaderContentInput button {
  padding: 1rem;
  color: #fff;
  background: red;
  border: none;
  border-radius: 2px;
}
.PreContent {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 8px solid #222;
}
.PreContentBox1 {
  height: 500px;
  width: 700px;
}
.PreContentFlex {
  display: flex;
  justify-content: center;
}
.PreContentImage img {
  height: 200px;
  width: 350px;
  margin-top: 4rem;
}
.PreContentInfo {
  padding-top: 3rem;
}
.PreContentInfo p {
  font-size: 1.3rem;
  font-weight: bold;
  color: #fff;
}
.PreContentInfo button {
  padding: 0.7rem 1rem;
  font-size: 1.2rem;
  margin: 2rem 0 0 3.6rem;
  border: none;
  border-radius: 4px;
  color: #fff;
  background: red;
}
.PreContentBox2 {
  height: 500px;
  width: 700px;
}
footer {
  text-align: center;
  border-bottom: 8px solid #222;
  height: 210px;
}
.FooterRegister {
  padding: 2rem;
}
.FooterRegister p {
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
}
.FooterRegisterInput input {
  padding: 1rem 5rem;
  background-color: rgb(97, 97, 97);
  border: none;
  color: #fff;
  margin-right: 1rem;
}
.FooterRegisterInput button {
  padding: 1rem;
  color: #fff;
  background: red;
  border: none;
  border-radius: 2px;
}
