.UserNav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #222;
}
.UserNavLeft {
  padding: 2rem;
}
.UserNavRight {
  padding: 2.3rem;
  display: flex;
  gap: 20px;
}
.UserNavRight button {
  padding: 0.5rem 1rem;
  border: none;
  background: red;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}
.UserContainer {
  width: 100vw;
  height: 100vh;
  background: #333;
  display: flex;
}
.UserContent {
  height: 500px;
  width: 700px;
}
.UserFlex {
  display: flex;
  justify-content: center;
}
.UserCarImage img {
  height: 200px;
  width: 350px;
  margin-top: 4rem;
}
.UserCarInfo {
  padding-top: 3rem;
}
.UserCarInfo h3 {
  font-size: 1.3rem;
  font-weight: bold;
  color: #fff;
}
.UserCarInfo button {
  padding: 0.7rem 1rem;
  font-size: 1.2rem;
  margin: 2rem 0 0 1.5rem;
  border: none;
  border-radius: 4px;
  color: #fff;
  background: red;
  cursor: pointer;
}
